/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
	background: #ABDCD6;
}

li{
	list-style-type: none;
}
a:link { 
 text-decoration:none; 
}

h1{
	color:green;
	font-size:3.8em;
	text-align: center;
}
#report_index_link{
	margin-top: 150px;
}

#report_index_block{
	border: solid 1px black;
	padding:20px;
	margin-top: 10px;
	width: 95%;
}

#report_index_link a{
	position:relative;
	font-weight:bold;
	font-size:1.2em;
	display:inline-block;
	text-decoration: none;
}

#bypage_balises{
	padding: 10px;
	left:50%;
	position:absolute;
	display:initial;
	border:solid 1px black;
}

@-webkit-keyframes Autosee{
0%{
	}
	25%{
	opacity: 0.0;

	}
	100%{ 
		opacity: 1;

	}
}
@-moz-keyframes Autosee{
0%{
	}
	25%{
	opacity: 0.0;

	}
	100%{ 
		opacity: 1;

	}
}
@-webkit-keyframes Autosee{
0%{
	}
	25%{
	opacity: 0.0;

	}
	100%{ 
		opacity: 1;

	}
}

#Menu li{
opacity:0.0;
/*animation-name*/
-webkit-animation-name:Autosee;
   -moz-animation-name:Autosee;
    -ms-animation-name:Autosee;
     -o-animation-name:Autosee;
        animation-name:Autosee;
/*animation-duration*/
-webkit-animation-duration:2s;
   -moz-animation-duration:2s;
    -ms-animation-duration:2s;
     -o-animation-duration:2s;
        animation-duration:2s;
-webkit-animation-timing-fonction:easa-in-out;
-webkit-animation-fill-mode:forwards;
-moz-animation-timing-fonction:easa-in-out;
-moz-animation-fill-mode:forwards;
text-decoration: none;
background:rgba(0, 0, 7, 0.8);
border-top: 2px solid white;
margin-top:0px;
text-align:center;
margin-bottom: 10px;
padding-top:40px;
height:55px;
width : 98%;
/*transition-property*/
-webkit-transition-property:all;
   -moz-transition-property:all;
     -o-transition-property:all;
        transition-property:all;
/*transition-timing-function*/
-webkit-transition-timing-function:ease-in-out;
   -moz-transition-timing-function:ease-in-out;
     -o-transition-timing-function:ease-in-out;
        transition-timing-function:ease-in-out;
/*transition-duration*/
-webkit-transition-duration:0.5s;
   -moz-transition-duration:0.5s;
     -o-transition-duration:0.5s;
        transition-duration:0.5s;
}
#Menu li:hover{
background:rgba(20, 60, 80, 0.8);
}
#Menu li a{

font-size:1.4em;
color: #FFFCEC;
}

#Menu-top{
opacity:0.0;
/*animation-name*/
-webkit-animation-name:Autosee;
   -moz-animation-name:Autosee;
    -ms-animation-name:Autosee;
     -o-animation-name:Autosee;
        animation-name:Autosee;
/*animation-duration*/
-webkit-animation-duration:2s;
   -moz-animation-duration:2s;
    -ms-animation-duration:2s;
     -o-animation-duration:2s;
        animation-duration:2s;
-webkit-animation-timing-fonction:easa-in-out;
-webkit-animation-fill-mode:forwards;
-moz-animation-timing-fonction:easa-in-out;
-moz-animation-fill-mode:forwards;
width:100%%;
height:100px;
background:rgba(0, 0, 7, 0.8);
position:relative;
border-top:1px solid #0051cc;
border-bottom:1px solid #0051cc;
}
#Menu-top ul{
margin-top:0px;
text-align:left;
}
#Menu-top li{
display:inline-block;
padding:5px;
padding-right:25px;
padding-left:25px;
padding-top:40px;
height:55px;
/*transition-property*/
-webkit-transition-property:all;
   -moz-transition-property:all;
     -o-transition-property:all;
        transition-property:all;
/*transition-timing-function*/
-webkit-transition-timing-function:ease-in-out;
   -moz-transition-timing-function:ease-in-out;
     -o-transition-timing-function:ease-in-out;
        transition-timing-function:ease-in-out;
/*transition-duration*/
-webkit-transition-duration:0.5s;
   -moz-transition-duration:0.5s;
     -o-transition-duration:0.5s;
        transition-duration:0.5s;
}
#Menu-top li:hover{
background:rgba(20, 60, 80, 0.8);
}
#Menu-top  li a{
font-size:1.4em;
color:white;
}
#txt{
	margin-left: 20px;
}
#bypage_error{
	width: 48%;
}
#Menu-top-li{
	display:initial;
	margin-left:35%;
}
#linkbypage{
	margin-bottom: 30px;
	margin-top: 30px;
	display:block;
	height: 50px;
	position: relative;
}
#img_delete_report a{
	background:url(bouton-supprimer-rouge-icone-4522-48.png) no-repeat;
	width:25px;
	height:25px;
	background-size: 100% 100%;
	margin-left: -30px;
	position: absolute;
	margin-top: -30px;
}

#img_refresh_report a{
	background:url(Button_Refresh.png) no-repeat;
	width:25px;
	height:25px;
	background-size: 100% 100%;
	margin-left: -30px;
	position: absolute;
}

#print_bupage a{
	background:url(Bouton_Imprimer.png) no-repeat;
	width:75px;
	height:75px;
	background-size: 100% 100%;
	position: absolute;
	margin-top: -100px;
}